body{
    margin: 0;
    padding: 0;
    background-color: #6abade4d;
    font-family: 'Arial';
}

.styled {
    border: 0;
    line-height: 2.0;
    margin-top :20px;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: blue;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow:
        inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
    background-color: #0000ff73;
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.text_tag{
    width:  400px;
}

.login{
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 80px;
    background: white;
    border-radius: 15px ;

}

h1{
    text-align: center;
    color: #0c17cfd9;
    padding: 20px;
}

label{
    text-align: center;
    color: #0c17cfd9;
    font-size: 17px;
}
